*{
	margin: 0;
	padding: 0;
}

#show-body{
	width: 100%;
	height: 100%;
}

.search-view{
	width: 100%;
	height: 100%;
}
.search-input{
	width: 100%;
	height: 100%;
	margin: 0;
	margin-bottom: 1rem;
}
.search-input form>input{
	width: 100%;
	height: 23px;
	margin: 0;
	border: 1px solid #bcb5b5;
	border-top: 0;
	outline: none;
	padding-left: 1rem;
	border-radius: 3px;
	font-size: 14px;
}
.grab-sheet-minddle{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
.grab-sheet-minddle ul>li{
	width: 24.8%;
    border: 0.1px solid;
    float: left;
    list-style: none;
    background-color: #F3F3F3;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.grab-sheet-minddle ul>li>a{
	text-decoration: none;
}
.grab-sheet-minddle .font-center{
	width: 100%;
	background-color: #E0E0E0;
    border-radius: 10px;
    font-size: 14px;
    color: #C11D1B;
}
.center-grab-color{
	background-color: #E0E0E0;
	border-radius: 10px;
	font-size: 14px;
	color: #979797;
}
.grab-sheet-minddle ul>li>a>p{
	color: #545454;
}
.grab-sheet-minddle ul>li img{
	border-radius: 10px;
    text-align: center;
    margin-top: 4px;
}
.grab-sheet-platform{
	width: 100%;
	height: 100%;
	clear: both;
}
.grab-sheet-title{
	width: 100%;
	text-align: center;
	background-color: #e7e7e7;
	color: #A4A4A4;
	font-size: 17px;
}
.grab-sheet-bottom{
	width: 100%;
	height: 100%;
	margin: 0;
}
.receipt-input{
	width: 100%;
	height: 100%;
	margin-top: 1rem;
}
.receipt-input label{
	margin-right: 1px;
}
.receipt-input span{
	margin-left: 0.4rem;
	margin-right: 0.4rem;
}
.receipt-input div>input{
	width: 111px;
    height: 31px;
    padding-left: 0.5rem;
}
.receipt-button{
	width: 100%;
	height: 100%;
	margin-top: 0.5rem;
}
.receipt-button button{
	margin-left: 1rem;
    width: 26%;
    margin-top: 0.5rem;
}
